ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-width: 1080px;
}
.active {
    background-color: white;
    color: #535b59;
    font-family: Sans-serif;
}
li {
    display: inline;
    font-family: Sans-serif; 
    float: left;
    text-align: center;
    font-size: 15px;
}
a {
    display: block;
    padding: 8px;
    background-color: #9dfbc2;
    color: #535b59;
    min-width: 100%;
    max-width: 100px;
    font-family: Sans-serif;
}
body{
	max-width: 1080px;
}
.menu {
  	width: 100%;
  	text-align: center;
}
h1{
	font-family: Sans-serif;
	text-align: center;
	color: #535b59;

}
.makered {
	color: #9dfbc2;
}