ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow: hidden;
    background-color: #FFFFAA;
}
li {
    display: inline;
    font-family: Georgia; 
    float: left;
    text-align: center;
    font-size: 15px;
}
a {
    display: block;
    background-color: #FFAAD4;
    color: #535b59;
    min-width: 100%;
    max-width: 100px;
    font-family: Georgia;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}
li a:hover {
    color: navy;
    padding: 14px 16px;
}
body{
	max-width: 100%;
}
.container {
    color: black;
    font-style: bold;
}
.menu {
  	width: 100%;
  	text-align: center;
}
h1{
	font-family: Georgia;
	text-align: center;
	color: #535b59;

}
.makered {
	color: blue;
}
.header {
	display: block;
    margin-left: auto;
    margin-right: auto 
}
body {
	font-family: Georgia;
	color: black;
    font-style: bold;
}
.skin {
    background-image: url('image/Background.jpeg');
    background-size:cover;
    background-attachment:fixed;
}
.contact {
    text-align: left;

}
#social-buttons button{
    color: white;
    float: right;
}
.btn-twitter{
    background-color:#00acee;
    border-color:#009ad5;
}
.btn-facebook{
    background-color:#4868ac;
    border-color:#314776;
}
.btn-pinterest{
    background-color:#b62f26;
    border-color:#b62f26;
}
.social-buttons {
    text-align: right;
    display: right;
    align-self: right;

}
#contact {
    display: block;
    margin: auto;
    width: 60%;
    font-size: 20px;
}
label {
    font-size: 40px;
}
table {
    font-size: 16px;
}